td, th {
    font-size: .8rem;
}

.smallButton {
    font-size: .8rem;
    color: white;
    padding: 4px;
    border-radius: 2px;
}

.seat {
    background-color: rgb(0, 115, 255);
}

.edit {
    background-color: #db9d20;
}

.cancel {
    background-color: #DC4C64;
}